.suggestion-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestion-dropdown li {
  padding: 10px;
  cursor: pointer;
}

.suggestion-dropdown li:hover {
  background-color: #f2f2f2;
}

.skeleton-category figure,
.skeleton-category h3 {
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.info-tag-list {
  .selected-wishlist{
    color: rgb(255, 118, 55);
  }
}

.oos{
  color: rgb(255, 118, 55);
  margin-top: -5px;
  font-weight: 600;
  margin-bottom: 5px;
}